<!DOCTYPE html>
<html>

<head>
    <title>최윤서</title>

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@800&display=swap');

        body {
            margin: 0;
            /*font-family : 'gulim', 'gothic';*/
            position: relative;
            /*   display: flex;
        flex-flow: row nowrap ;*/
        }

        .header {
            position: relative;
            top: 0px;
            width: 100%;
            height: 7vh;
            background-color: rgb(230, 230, 230);
            /*margin: 0 0 2px 0;*/
            /*border: 1px solid black;*/
        }

        .header .nav {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            top: 0px;
            margin: 0px auto;
            width: 95%;
            background-color: rgb(230, 230, 230);
            height: 100%;
            /*border: 1px solid black;*/

        }

        .header .nav .logo {
            position: relative;
            align-items: center;
            float: left;
            font-weight: 500;
            /*background-color: white;*/
            width: 180px;
            /*justify-content: space-between;*/
            /*height: 100%;*/
            /*border: 1px solid black;*/
            cursor: pointer;

        }

        .header .nav .logo a {
            text-decoration: none;
            color: black;
            font-size: 14pt;
        }

        .header .nav .logo a:hover {
            /*text-decoration: none;*/
            color: royalblue;
            /*font-size: 14pt;*/
        }

        .header .nav .menu {
            position: relative;
            /*align-items: flex-end;*/
            justify-content: flex-end;
            text-align: right;
            display: flex;
            /*background-color: white;*/
            width: 180px;
            /*height: 100%;*/
            /*border: 1px solid black;*/
            cursor: pointer;

        }

        .header .nav .menu .menu1 {
            position: relative;
            align-items: center;
            float: left;
            /*background-color: white;*/
            /*width: 100px;*/
            margin: 0 15px 0 0;
            /*height: 100%;*/
            /*border: 1px solid black;*/
            cursor: pointer;

        }

        .header .nav .menu .menu1 .img1 {
            margin: 0;
            position: relative;
            width: 25px;
            height: 25px;
            bottom: 3px;
            background-image: url("https://postfiles.pstatic.net/MjAyMjA2MDNfODIg/MDAxNjU0MjY1NjM3MTYy.GxWUeMQVJzxRpa8msT8t91s-iMtVndrmDhE7hWiwvxQg.8xG7WYRYRtpz6uKCQbqp-NciF9tPhKOYIKHnImWKiqUg.PNG.cys4189/pngwing.com.png?type=w966");
            /*border: 1px solid black;*/
            background-size: contain;
            background-repeat: no-repeat;
        }

        .a1 {
            text-decoration: none;
            color: black;
        }

        .a1:hover {
            color: green;
        }

        .main {
            position: relative;
            display: flex;
            flex-flow: row nowrap;
            top: 0px;
            /*align-items: center;*/
            width: 100%;
            min-width: 1280px;
            min-height: 180vh;
            /*height: 180%;*/
            background-color: rgb(230, 230, 230);
        }

        .main .nav {
            position: relative;
            display: flex;
            flex-flow: column nowrap;
            background-color: white;
            padding: 10px 10px 10px 10px;
            /*border: 1px solid rgb(200, 200, 200);*/
            width: 16%;
            height: 180vh;
        }

        .main .nav .menu {
            width: 100%;
            /*top: 10px;*/
            justify-content: center;
            margin: 5px 0 5px 0;
            align-items: center;
            text-align: center;
            font-size: 14pt;
            padding: 5px 0 0;
            height: 50px;
            /*border: 1px solid black;*/
        }

        .main .nav .menu .logo {
            margin: 0 auto;
            position: relative;
            width: 210px;
            text-align: center;
            height: 100%;
            /*bottom: 3px;*/
            background-image: url("https://i.postimg.cc/SNsvQM9v/logo.png");
            /*border: 1px solid black;*/
            background-size: contain;
            background-repeat: no-repeat;

        }

        .main .nav .menu a {
            text-decoration: none;
            /*margin: 10px;*/
            font-size: 15pt;
            color: black;
        }

        .main .nav .menu a:hover {
            color: green;
        }

        .main hr {
            margin: 0;
            height: 180vh;
            width: .2vw;
            border-width: 0;
            color: rgb(230, 230, 230);
        }

        .main .nav .menu_hr {
            margin: 0 0 15px 0;
            padding: 0;
            width: .1vw;
            border-width: 1px;
            height: 1px;
            width: 100%;
            color: rgb(230, 230, 230);
            background-color: rgb(230, 230, 230);
        }

        .main .section1 {
            position: relative;
            align-items: center;
            width: 84%;
            height: 180vh;
            padding: 10px 10px 10px 10px;
            margin: 0px auto;
            /*border: 1px solid rgb(200, 200, 200);*/
            background-color: white;
        }

        .main .section1 .box1 {
            min-height: 80vh;
            /* display: flex;
        flex-flow: row wrap;*/
            padding: 20px 10px 20px 30px;
            /*border: 1px solid black;*/
        }

        .main .section1 .box1 .box_item1 {
            flex-basis: 100%;
            /*width: 30%;*/
            margin: 10px 15px 10px 10px;
            word-wrap: break-word;
            /*min-height: 50vh;*/
            border-radius: 30px;
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: start;
            /*padding: 0 10px 10px 10px;*/
            background-color: rgb(240, 240, 240);
            /*border: 1px solid black;*/
        }

        .main .section1 .box1 .box_item1 .customer_info {
            width: 100%;
            height: 40vh;
            display: flex;
            padding: 20px 10px 20px 10px;
            align-items: center;
            flex-flow: row nowrap;
            margin: 0 0 5px 0;
            /*border: 1px solid black;*/
        }

        .main .section1 .box1 .box_item1 .customer_info .item_img1 img {
            width: 300px;
            height: 280px;
            margin: 20px 20px 20px 20px;
            /*border: 1px solid rgb(100, 100, 100);*/
            /*margin: 100;*/
            object-fit: cover;
        }

        .main .section1 .box1 .box_item1 .customer_info .item1 {
            border: 1px solid black;
            font-size: 14pt;
            word-wrap: break-word;
            width: 600px;
        }

        .main .section1 .box1 .box_item1 .customer_info .item1 li {
            margin: 0 0 7px 0;
        }

        /* .main .section1 .box1 .box_item1 .item_btn1 input[type=submit]{
        width: 200px;
        height: 35px;
        border-radius: 100px;
        background-color: white;
    }*/
        .main .section1 .box1 .box_item1 .buy_product {
            /*border: 1px solid black;*/
            position: relative;
            /* width: 100%; */
            min-height: 30vh;
            padding: 10px 10px 10px 10px;
            margin: 0 auto;
            display: flex;
            flex-flow: column wrap;
        }

        /* .main .section1 .box1 .box_item1 .buy_product hr {
            margin: 0 0 0 25px;
            background-color: rgb(192, 192, 192);
           
            height: 1px;
            width: 95%;
        } */

        .main .section1 .box1 .box_item1 .buy_product .title {
           
            padding: 30px 0 0 40px;
            font-size: 20pt;
            font-weight: 700;
        }
        .main .section1 .box1 .box_item1 .buy_product .item_btn1{
            
            position: relative;
          
            padding:0 5px 8px 0 ;
            text-align: right;
            border-bottom :2px solid black;
        }
        .main .section1 .box1 .box_item1 .buy_product table {
          
           position: relative;
           margin:0 auto;
           /* width: 100% */
            border-collapse: collapse;
        }
        .main .section1 .box1 .box_item1 .buy_product table tr{
            width: 100%;
            margin:0 auto;
            text-align: center;
            padding-bottom: 50px;
            border-bottom: 2px solid rgb(200, 200, 200);
        }
        .main .section1 .box1 .box_item1 .buy_product table th{
            padding: 3px 10px 3px 10px;
            /* border-collapse: collapse; */
            border-bottom: 2px solid black;
        }
        .main .section1 .box1 .box_item1 .buy_product table td  {
            /* margin: 5px 5px 5px 5px; */
            border-collapse: collapse;
            padding: 3px 10px 3px 10px;
            margin:0;
            text-align: center;
            /* border-bottom: 1px solid black; */
        }

        .footer {
            position: relative;
            top: 0px;
            width: 100%;
            min-width: 1280px;
            height: 0vh;
            background-color: rgb(92, 92, 92);
        }
    </style>
</head>

<body>
    <header class="header">
        <nav class="nav">
            <div class="logo"><a href="/">윤 & 현 컴퍼니</a></div>
            <div class="menu">
                <div class="menu1">
                    <div class="img1"></div>
                </div>
                <div class="menu1"><a class="a1" href="">logout</a></div>



            </div>
        </nav>

    </header>
    <!-- <nav class="nav">네브바</nav> -->
    <main class="main">
        <nav class="nav">
            <div class="menu">
                <div class="logo"></div>
            </div>
            <br>
            <div class="menu"><a href="/admin_branch"> 지점 관리</a></div>
            <hr class="menu_hr">
            <div class="menu"><a href="/admin"> 담당자 관리</a></div>
            <hr class="menu_hr">
            <div class="menu"><a href="/admin/orders"> 주문 관리</a></div>
            <hr class="menu_hr">
            <div class="menu"><a href="/admin_warehouse"> 창고 관리</a></div>
            <hr class="menu_hr">
            <div class="menu"><a href="/info-list"> 발주 관리</a></div>
            <hr class="menu_hr">
        </nav>
        <hr>
        <section class="section1">
            <div class="box1">
                <div class="box_item1">

                    <div class="buy_product">
                        <div class="title">주문 관리</div>
                        <div class="item_btn1">
                            <form action="/admin/orders/option" method='get'>
                                <select name="search_option" class="search_option">
                                    <option value="">--배송상태--</option>
                                    <option value=1 class="search_option_data">Pending</option>
                                    <option value=2 class="search_option_data">Shipped</option>
                                    <option value=3 class="search_option_data">Canceled</option>
                                </select>
                                <button type="submit">필터</button>
                            </form>
                        </div>
                        <div class="item1">
                            <table>
                                <tr>
                                    <th></th>
                                    <th>구매 제품</th>
                                    <th>구매 지점</th>
                                    <th>배송상태</th>
                                    <th>주문날짜</th>
                                    <th>수량</th>
                                    <th>결제금액</th>
                                    <th>상품 준비상태</th>
                                    <!-- <th>주문처리</th> -->
                                </tr>

                                <% for(var i=0; i<=data.length-1; i++) { var Data=data[i]; var date=Data.ORDER_DATE; var
                                    year=date.getFullYear(); var month=('0' + (date.getMonth() + 1)).slice(-2); var
                                    day=('0' + date.getDate()).slice(-2); var hours=('0' + date.getHours()).slice(-2);
                                    var minutes=('0' + date.getMinutes()).slice(-2); var seconds=('0' +
                                    date.getSeconds()).slice(-2); var dateString=year + '-' + month + '-' + day +" " + hours + ':' + minutes  + ':' + seconds; 
                                    var order_id=Data.ORDER_ID;
                                    if(i!=data.length-1){
                                        var prevorder_id= data[i+1].ORDER_ID;
                                    }
                                  
                                    var flag;
                                    %>
                                <tr>
                                   
                                    <td class="orderbtn">
                                       
                                        <% if (i==0 || flag==1){
                                            %>
                                          <div style="font-size: small;font-weight: 700; width:25px; height: 25px;border:2px solid black;border-radius: 50%; background-color: rgba(112, 128, 144, 0.287);"><%=order_id%></div>
                                        <%
                                        flag=0;
                                        }%> 
                                    </td>
                                    <td> <a href="/productDetail/<%=Data.PRODUCT_ID%>"><%=Data.PRODUCT_NAME%></a></td>
                                    <td> <%=Data.NAME%></td>
                                    <td>
                                        <%if(Data.STATUS == 'Shipped'){
                                            %> <span style="color: rgb(0, 102, 255);"> <%=Data.STATUS%></span>
                                        <%}else if(Data.STATUS == 'Canceled'){
                                            %> <span style="color: rgb(226,0,0);"> <%=Data.STATUS%></span>
                                        <%}else{
                                            %><%=Data.STATUS%>
                                        <%}%>
                                    </td>
                                    <td><%=dateString%></td>
                                    <td><%=Data.QUANTITY%></td>
                                    <td><%=Data.QUANTITY*Data.UNIT_PRICE%></td>
                                    <td>
                                        <%if(Data.READY == 'false'){
                                            %> <span style="color: rgb(226, 0, 0);"> <%=Data.READY%></span>
                                        <%}else{
                                            %> <span style="color: green;"> <%=Data.READY%></span>
                                        <%}%>
                                       
                                    </td>
                                </tr>
                                
                                    <% if ( i==0||prevorder_id!=order_id||i==data.length-1){
                                        %>
                                        <tfoot style="border-bottom:3px solid darkgray; ">
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td style= "padding: 10px 0 10px 0;">
                                                <form action="/admin/orderConfirm" method="post">
                                                    <input type="hidden" value="<%=data[i].ORDER_ID%>" name="order_id">
                                                    <input type="hidden" value="<%=data[i].WAREHOUSE_ID%>" name="warehouse_id">
                                                    <input type="hidden" value="<%=data[i].CUSTOMER_ID%>" name="customer_id">
                                                <button type="submit" style="width:150px; height: 40px; font-size: medium;"> 주문 확정 </button>
                                                </form>
                                            </td>
                                        </tfoot>
                                    
                                    <% 
                                    if(i!=0)flag=1;} %>
                               
                                <%} 
                                    
                                %>
                               
                               
                           </table>
                           
                       </div>
                   </div>
                </div>

            </div>
        
        </section>
      
        
    </main>
    <footer class=" footer">

                                    </footer>

</body>

</html>