<!DOCTYPE html>
<html>

<head>
    <title>윤&현 컴퍼니</title>
   
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@800&display=swap');
     body{
        margin: 0;
        /*font-family : 'gulim', 'gothic';*/
        position: relative;
     /*   display: flex;
        flex-flow: row nowrap ;*/
     }
    .header{
        position: relative;
        top: 0px;
        width: 100%;
        height: 7vh;
        background-color: rgb(230, 230, 230);
        /*margin: 0 0 2px 0;*/
        /*border: 1px solid black;*/
    }
    .header .nav{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        top: 0px;
        margin: 0px auto;
        width: 95%;
        background-color:rgb(230, 230, 230);
        height: 100%;
        /*border: 1px solid black;*/

    }
  
    .header .nav .logo{
        position: relative;
        align-items: center;
        float: left;
        font-weight: 500;
        /*background-color: white;*/
        width: 180px;
        /*justify-content: space-between;*/
        /*height: 100%;*/
        /*border: 1px solid black;*/
        cursor: pointer;

    }
    .header .nav .logo a{
        text-decoration: none;
        color: black;
        font-size: 14pt;
    }
    .header .nav .logo a:hover{
        /*text-decoration: none;*/
        color: royalblue;
        /*font-size: 14pt;*/
    }
   
    .header .nav .menu{
        position: relative;
        /*align-items: flex-end;*/
        justify-content: flex-end;
        text-align: right;
        display: flex;
        /*background-color: white;*/
        width: 180px;
        /*height: 100%;*/
        /*border: 1px solid black;*/
        cursor: pointer;

    }
    
    .header .nav .menu .menu1{
        position: relative;
        align-items: center;
        float: left;
        /*background-color: white;*/
        /*width: 100px;*/
        margin: 0 15px 0 0;
        /*height: 100%;*/
        /*border: 1px solid black;*/
        cursor: pointer;

    }
    .header .nav .menu .menu1 .img1{
        margin: 0;
        position: relative;
        width: 25px;
        height: 25px;
        bottom: 3px;
        background-image: url("https://postfiles.pstatic.net/MjAyMjA2MDNfODIg/MDAxNjU0MjY1NjM3MTYy.GxWUeMQVJzxRpa8msT8t91s-iMtVndrmDhE7hWiwvxQg.8xG7WYRYRtpz6uKCQbqp-NciF9tPhKOYIKHnImWKiqUg.PNG.cys4189/pngwing.com.png?type=w966");
          /*border: 1px solid black;*/
        background-size: contain;
        background-repeat: no-repeat;
    }
     .a1{
        text-decoration: none;
        color: black;
     }
     .a1:hover{
        color: green;
     }
   .main{
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        top: 0px;
        /*align-items: center;*/
        width: 100%;
        min-width: 1280px;
        min-height: 180vh;
        /*height: 180%;*/
        background-color: rgb(230, 230, 230);
    }
    .main .nav{
        position: relative;
        display: flex;
        flex-flow: column nowrap;
        background-color: white;
        padding: 10px 10px 10px 10px;
        /*border: 1px solid rgb(200, 200, 200);*/
        width: 16%;
        height: 180vh;
    }
    .main .nav .menu{
        width: 100%;
        /*top: 10px;*/
        justify-content: center;
        margin: 5px 0 5px 0 ;
        align-items: center;
        text-align: center;
        font-size: 14pt;
        padding: 5px 0  0;
        height: 50px;
        /*border: 1px solid black;*/
    }
    .main .nav .menu .logo{
        margin: 0 auto;
        position: relative;
        width: 210px;
        text-align: center;
        height: 100%;
        /*bottom: 3px;*/
        background-image: url("https://i.postimg.cc/SNsvQM9v/logo.png");
          /*border: 1px solid black;*/
        background-size: contain;
        background-repeat: no-repeat;

    }
    .main .nav .menu a{
        text-decoration: none;
        /*margin: 10px;*/
        font-size: 15pt;
        color: black ;
    }
    .main .nav .menu a:hover{
        color: green;
    }
    .main hr{
        margin: 0;
        height: 180vh;
        width: .2vw;
        border-width: 0;
        color: rgb(230, 230, 230);
    }
    .main .nav .menu_hr{
         margin: 0 0 15px 0;
         padding: 0;
         width: .1vw;
         border-width: 1px;
         height: 1px;
         width: 100%;
         color: rgb(230, 230, 230);
         background-color: rgb(230, 230, 230);
    }
    .main .section1{
        position: relative;
        align-items: center;
        width: 84%;
        height: 180vh;
        padding: 10px 10px 10px 10px;
        margin: 0px auto;
        /*border: 1px solid rgb(200, 200, 200);*/
        background-color: white;
    }
    .main .section1 .title{
        /*height: 50px;*/
        font-size: 20pt;
        padding: 30px 0 20px 40px;
        font-weight: 700;
        float:left;
        /*border: 1px solid black;*/
    }
    .main .section1 .search{
        float:right;
        position: relative;
        padding: 30px 0px 0px 0px;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        width: 400px;
        
    }
    
    .main .section1 .search input[type=text] {
        position: relative;
        border: 2px solid rgb(50, 50, 50);
        width: 300px;
        padding: 0 10px 0 10px;
        height: 35px;
        border-radius: 8px;
        font-size: 12pt;
    }
      
    .main .section1 .search button[type=submit] {
        position: absolute;
        width: 20px;
        height: 20px;
        border: none;
        background: white;
        cursor: pointer;
        margin: 8px 0px 0px 0px;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        left: 290px;
    }
    .main .section1 .search img {
        position: absolute;
        width: 19px;
        bottom: 1px;
        right: 0px;
        margin: 0;
        transition: all 0.5s linear;
        cursor: pointer;
    }
    .main .section1 .search img:hover{
        transform: scale(1.3) rotate(45deg);
    }
    .main .section1 .box1{
        min-height: 80vh;
        display: flex;
        flex-flow: row wrap;
        padding: 20px 10px 20px 30px;
        /*border: 1px solid black;*/
    }
    .main .section1 .box1 .box_item1{
         flex-basis: 22%;
        /*width: 30%;*/
        margin: 10px 15px 10px 10px;
        word-wrap: break-word;
        height: 350px;
        border-radius: 5%;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: space-evenly;
        /*padding: 0 10px 10px 10px;*/
        background-color: rgb(240, 240, 240);
        /*border: 1px solid black;*/
    }
    .main .section1 .box1 .box_item1 .item_img1 img{
         width: 100px;
        height: 100px;
        object-fit: contain;
    }
     .main .section1 .box1 .box_item1 .item_name{
        font-weight: 700;
        font-size: 14pt;
        padding: 0 20px 0 20px;
    }
    .main .section1 .box1 .box_item1 .item_store_name{
        font-size: 12pt;
        text-align: center;
    }
    .main .section1 .box1 .box_item1 .item_btn1 input[type=submit]{
        width: 200px;
        height: 35px;
        border-radius: 100px;
        background-color: white;
    }
    .footer {
            position: relative;
            top: 0px;
            width: 100%;
            min-width: 1280px;
            height: 5vh;
            background-color: rgb(92,92,92);
        }
    
    </style>
</head>

<body>
    <header class="header">
        <nav class="nav">
            <div class="logo"><a href="/">윤 & 현 컴퍼니</a></div>
            <div class="menu">
                <div class="menu1"><div class="img1"></div></div>
                <div class="menu1"><a class ="a1" href ="">logout</a></div>
           </div>
        </nav>

    </header>
    <!-- <nav class="nav">네브바</nav> -->
    <main class="main">
       <nav class="nav">
            <div class="menu"> <div class="logo"></div> </div>
            <br>
           <div class="menu"><a href="/admin_branch"> 지점 관리</a></div>
           <hr class="menu_hr">
           <div class="menu"><a href="/admin"> 담당자 관리</a></div>
           <hr class="menu_hr">
           <div class="menu"><a href="/admin/orders"> 주문 관리</a></div>
           <hr class="menu_hr">
           <div class="menu"><a href="/admin_warehouse"> 창고 관리</a></div>
           <hr class="menu_hr">
           <div class="menu"><a href="/info-list"> 발주 관리</a></div>
           <hr class="menu_hr">
       </nav>
       <hr>
        <section class="section1">
            <% if(data.length){%>
                <div class="title">
                    총 <%=data.length%>개의 검색 결과가 있습니다.
                </div>
            <%}else { %>
                <div class="title">검색된 상품이 없습니다.</div>
            <%} %>

            <div class="search">
                <form action="/search_admin" method="get">
                    <input type="text" placeholder="검색어 입력" name="search">
                    <button type="submit"><img src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png"></button>
                </form>
            </div><div style="clear:both"></div>

            <div class="box1">
                <% for(var i=data.length-1; i>=0; i--) {
                    var Data = data[i];
                %> <div class="box_item1">
                    <%=data.length-i%>
                    <div class="item_img1"><img src="https://i.postimg.cc/gksLsxBm/pngwing-com.png"></div>
                    <div class="item_name"><%=Data.FIRST_NAME%>&nbsp;<%=Data.LAST_NAME%></div>
                    <div class="item_store_name"><%=Data.NAME%></div>
                    <form action="/admin/customerDetail/<%=Data.CONTACT_ID%>">
                    <div class="item_btn1"><input type="submit" value="담당자 정보 열람"></div>
                    </form>
                </div>
                <%} %>
               
            </div>
        
        </section>
      
        
    </main>
    <footer class="footer">

    </footer>

</body>

</html>