<!DOCTYPE html>
<html>

<head>
    <title>최윤서</title>

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@800&display=swap');

        body {
            margin: 0;
            /*font-family : 'gulim', 'gothic';*/
            position: relative;
        }

   
        .main {
            position: relative;
            top: 0px;
            align-items: center;
            width: 100%;
            min-width: 1280px;
            min-height: 100vh;
            justify-content: center;
            /*height: 180%;*/
            background-color: rgb(240, 240, 240);
        }

        .main .section1 {
            position: relative;
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: start;
            top: 2px;
            width: 100%;
            height: 50px;
            /*padding: 10px 10px 20px 10px;*/
            margin: 0px auto;
            /*border: 1px solid black;*/
            background-color: white;
        }

        .main .section1 .logo {
            position: relative;
            width: 180px;
            height: 100%;
            background-image: url("https://i.postimg.cc/SNsvQM9v/logo.png");
            /*border: 1px solid black;*/
            background-size: contain;
            background-repeat: no-repeat;
        }

        .main .section1 .search {
            
            position: relative;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            width: 400px;
            padding: 5px 5px 5px 5px;
            margin-left: 30px;
        }

        .main .section1 .search  input[type=text] {
            position: relative;
            width: 350px;
            /* height: 90%; */
            border: 2px solid rgb(50, 50, 50);
            border-radius: 8px;
            padding: 10px 0px 10px 10px;
            font-size: 15px;
            /* border: 1px solid black; */
            
        }
        .main .section1 .search button[type=submit] {
            position: absolute;
            width: 20px;
            height: 20px;
            border: none;
            right: 55px;
            margin: 10px 0px 0px 0px;
            align-items: center;
            justify-content: center;
            background: white;
            cursor: pointer;
        }
        .main .section1 .search img {
            position: absolute;
            width: 19px;
            bottom: 1px;
            right: 0px;
            margin: 0;
            transition: all 0.5s linear;
            cursor: pointer;
        }
        .main .section1 .search img:hover{
            transform: scale(1.3) rotate(45deg);
        }
        /*
        .main .section1 .search{
            position: relative;
            width: 300px;
            display: flex;
            margin-left: 30px;
        }
        
        .main .section1 .search input {
            width: 90%;
            border: 2px solid rgb(50, 50, 50);
            border-radius: 8px;
            font-size: 15px;
            
        }
          
        .main .section1 .search img {
            position : absolute;
            width: 20px;
            top: 5px;
            margin: 0;
        }
        */

        .main .section2 {
            position: relative;
            display: flex;
            flex-flow: row nowrap;
            /*align-items: center;*/
            justify-content: space-evenly;
            top: 10px;
            width: 100%;
            min-height: 100vh;
            /*padding: 10px 10px 20px 10px;*/
            padding: 10px 0px 0px 0px;
            /*border: 1px solid black;*/
            /*background-color: white;*/
        }

        .main .section2 .left {
            position: relative;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            /*align-items: center;*/
            /*align-content: center;*/
            text-align: center;
            width: 200px;
            height: 500px;
            /*margin: 0 auto;*/
            /*padding: 30px 0px 0px 0px;*/
            border: 1px solid rgb(200, 200, 200);
            background-color: white;
        }

        .main .section2 .left .menu1 {
            flex-basis: 80px;
            padding-top: 25px;
            font-size: 14pt;
            border: 1px solid rgb(200, 200, 200);
        }

        .main .section2 .left .menu1 a {
            text-decoration: none;
            color: black;
        }

        .main .section2 .left .menu1 a:hover {
            text-shadow: gray;
            text-decoration-line: underline;
            color: green;
        }


        .main .section2 .right {
            position: relative;
            display: flex;
            flex-flow: column wrap;
            justify-content: space-evenly;
            align-items: center;
            padding: 20px 20px 20px 20px;
            width: 900px;
            min-height: 100vh;
            margin-bottom: 30px;
            /*margin: 0px auto;*/
            border: 1px solid rgb(200, 200, 200);
            background-color: white;
        }

        .main .section2 .right .title {
            width: 100%;
            /*text-align: left;*/
            /*height: 50px;*/
            /*justify-content: start;*/
            /*align-items: center;*/
            padding: 10px 0 10px 0;
            margin-bottom: 10px;
            top: 10px;
            text-align: center;
            font-size: 22pt;
            font-weight: 700;
            /*border: 1px solid black;*/
        }

        .main .section2 .right .box1 {
            width: 95%;
            /*min-height: 350px;*/
            min-height: 350px;
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            align-content: stretch;
            justify-content: flex-start;
            margin: 0 auto;
            padding: 10px 10px 10px 25px;
            /*border: 1px solid black;*/
        }

        .main .section2 .right .box1 .box_item1 {
            flex-basis: 30%;
            /*width: 30%;*/
            margin: 10px 15px 10px 10px;
            word-wrap: break-word;
            height: 350px;
            border-radius: 5%;
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: space-evenly;
            /*padding: 0 10px 10px 10px;*/
            background-color: rgb(240, 240, 240);
            /*border: 1px solid black;*/
        }

        .main .section2 .right .box1 .box_item1 .item_img1 img {
            width: 200px;
            height: 200px;
            object-fit: cover;
            /*margin-bottom: 10px;*/
            /*border: 1px solid green;*/
        }

        .main .section2 .right .box1 .box_item1 .item_name {
            font-weight: 700;
            font-size: 14pt;
            padding: 0 20px 0 20px;
        }

        .main .section2 .right .box1 .box_item1 .item_btn1 input[type=submit] {
            width: 200px;
            height: 35px;
            border-radius: 100px;
            background-color: white;
        }

        .footer {
            position: relative;
            top: 0px;
            width: 100%;
            min-width: 1280px;
            height: 5vh;
            background-color: rgb(92, 92, 92);
        }
    </style>
</head>

<body>
    <%- include('nav',{login:login})%>
    <main class="main">
        <section class="section1">
            <div class="logo"></div>
            <div class="search">
                <form action="/search" method="get">
                    <input type="text" placeholder="검색어 입력" name="search">
                    <button type="submit"><img src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png"></button>
                </form>
            </div>
            
        </section>
        <section class="section2">
            <div class="left">
               
                <div class="menu1"><a href="/allProduct">상품 전체 보기</a></div>
                <div class="menu1">카테고리</div>
                <div class="menu1"><a href="/allProduct?categoryId=1"><span class="div2">CPU</span></a></div>
                <div class="menu1"><a href="/allProduct?categoryId=2"><span class="div2">비디오 카드</span></a></div>
                <div class="menu1"><a href="/allProduct?categoryId=3"><span class="div2">RAM</span></a></div>
                <div class="menu1"><a href="/allProduct?categoryId=4"><span class="div2">마더 보드</span></a></div>
                <div class="menu1"><a href="/allProduct?categoryId=5"><span class="div2">저장소</span></a></div>
              
            </div>
            <div class="right">
                <% if(data.length){%>
                    <div class="title">
                       
                        <%=data[0].CATEGORY_NAME%>
                    </div>
                    <%}else { %>
                        <div class="title">등록된 상품이 없습니다.</div>
                        <%} %>

                            <div class="box1">
                                <% for(var i=data.length-1; i>=0; i--) {
                                    var Data = data[i];
                                    %> <div class="box_item1">
                                        <%=data.length-i%>
                                            <div class="item_img1"><img
                                                    src="https://images.samsung.com/kdp/goods/2021/12/17/dd1ea002-7de0-46c1-8823-fc55f91bbe33.png?$PF_PRD_PNG$">
                                            </div>
                                            <div class="item_name">
                                                <%=Data.PRODUCT_NAME%>
                                            </div>
                                            <form action="/productDetail/<%=Data.PRODUCT_ID%>" method="get">
                                                <div class="item_btn1"><input type="submit" value="자세히 보기"></div>
                                            </form>
                                    </div>
                                    <%} %>
                            </div>
            </div>
        </section>

    </main>
    <footer class="footer">

    </footer>

</body>
<script src="/product-order.js"> </script>
</html>